@using Laundry_MVC.Models

@{
    var db = new DB_Connection();
    
    var customerId = (int) ViewData["CustomerId"];

    var categoryId = (int) ViewData["CategoryId"];
    
    var service = db.Categories.FirstOrDefault(x=> x.CategoryId == categoryId);

    if (service == null)
    {
        return;
    }

    var customer = db.Customers.FirstOrDefault(x=> x.CustomerId == customerId);

    if (customer == null)
    {
        return;
    }
}

<div style="width: 60px">
    @if (customer.Type == Constraint.CustomerType[0])
    {
        <span>@service.Price ៛</span>
    }
    else if (customer.Type == Constraint.CustomerType[1])
    {
        <span>@service.Whole ៛</span>
    }
    else if (customer.Type == Constraint.CustomerType[2])
    {
        <span>@service.VIP ៛</span>
    }
    else
    {
        <span>0 ៛</span>
    }
</div>
