@using Laundry_MVC.Models

 <div style="padding-left: 10px"></div>

<select id="pageSize" class="form-control" style="width: 65px; padding: 5px">
    @foreach (var page in Constraint.PerPage)
    {
        if (page.Value == ViewData["PSize"] + "")
        {
            <option value="@(page.Value)" selected="selected">@page.Text</option>
        }
        else
        {
            <option value="@(page.Value)">@page.Text</option>
        }
    }
</select>