# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Laundry_MVC.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Website\Laundry_MVC\.idea\.idea.Laundry_MVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
